body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 400px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-size: cover;
}

#gift-img-happy {
    background-image: url("https://media.giphy.com/media/5GoVLqeAOo6PK/giphy.gif");
}

#gift-img-hot {
    background-image: url("https://media.giphy.com/media/10t57cXgo7x5kI/giphy.gif");
}

#gift-img-genius {
    background-image: url("https://media.giphy.com/media/3i4xTtJQIJk0o/giphy.gif");
}

#gift-img-badass {
    background-image: url("https://media.giphy.com/media/MKxkTIrlKYBie3sD05/giphy.gif");
}

#gift-img-cheers {
    background-image: url("https://media.giphy.com/media/3o85xjSETVG3OpPyx2/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
